<div class="sidebar">
  <ul class="status-list">
    <li>姓名 {{ player.name if player else '无名侠客' }}</li>
    <li>境界 {{ player.attributes.realm_name if player else '炼气期' }}({{ realm_percent }}%)</li>
    <li>⚔ 气血 {{ player.attributes.current_health if player else 100 }} / {{ player.attributes.max_health if player else 120 }}</li>
    <li>✨ 灵力 {{ player.attributes.current_mana if player else 50 }} / {{ player.attributes.max_mana if player else 180 }}</li>
    <li>当前位置 {{ location if location else '青云城' }}</li>
    <li>灵石 {{ gold if gold else 0 }}</li>
    <li>Buff (无)</li>
    <li>特殊状态 (正常)</li>
  </ul>
  <ul class="nav-links">
    <li><a onclick="sendCommand('状态')">状态</a></li>
    <li><a onclick="sendCommand('背包')">背包</a></li>
    <li><a onclick="sendCommand('功法')">功法</a></li>
    <li><a onclick="sendCommand('修炼')">修炼</a></li>
    <li><a onclick="sendCommand('成就')">成就</a></li>
    <li><a onclick="sendCommand('探索')">探索</a></li>
    <li><a onclick="sendCommand('地图')">地图</a></li>
    <li><a onclick="sendCommand('任务')">任务</a></li>
    <li><a onclick="sendCommand('商店')">商店</a></li>
    <li><a onclick="sendCommand('保存')">保存</a></li>
    <li><a onclick="sendCommand('帮助')">帮助</a></li>
    <li><a onclick="sendCommand('设置')">设置</a></li>
    <li><a onclick="sendCommand('排名')">排名</a></li>
    <li><a onclick="sendCommand('退出')">退出</a></li>
  </ul>
</div>
